@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* general styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#line {
  border: 1px solid grey;
}
body {
  background-color: #000021;
  font-family: "Poppins", "Baloo 2", sans-serif;
}
/* navbar styling */
#navbar .nav {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000018;
  color: whitesmoke;
  height: 10vh;
}
#lorem {
  color: green;
}
.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  right: 1rem;
}
li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0rem 1rem;
  font-weight: 600;
}
li a:hover {
  color: green;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 800;
}
li a:active {
  color: orange;
}
li a:focus {
  color: green;
}

.logo img {
  border-radius: 100%;
  height: 3rem;
}
.portfolio-name {
  font-size: 1.5rem;
  animation: fadeout 1s ease-in-out;
}

/* Hamburger icon styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
}
#menu-toggle {
  display: none;
}
/* styling section 2 */
#section {
  display: flex;
  justify-content: center;
}
.box1 {
  margin-top: 5rem;
}

p,
#div {
  color: whitesmoke;
}
#name {
  color: orangered;
  font-size: 1.2rem;
  font-weight: bold;
}
#elements {
  color: green;
  font-weight: 900;
  font-size: 1.3rem;
}

video {
  height: 20rem;
  border-radius: 100%;
}
/* styling section 3 */
.skill-section h2 {
  color: whitesmoke;
  margin: 0.3rem 0.5rem;
}
#skill ul li {
  color: white;
  margin: 0.1rem 0rem 0.1rem 2rem;
}
#footer {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 0.7rem;
  padding: 2rem 0rem 1rem 0rem;
  position: static;
  bottom: 0;
}
@media (max-width: 800px) {
  .portfolio-name {
    font-size: 1.5rem;
    width: 30rem;
    animation: fadeout 1s ease-in-out;
    /* text-align: center; */
  }
  #navbar .nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .menu ul li {
    position: none;
  }

  #menu-toggle:checked + .hamburger + .menu ul {
    display: flex;
  }

  /* Hamburger icon becomes visible on small screens */
  .hamburger {
    display: flex;
  }
  .menu ul {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 4.4rem;
    border-radius: 0.3rem;
    right: 0;
    padding: 0.4rem 0.3rem;
    width: 100%;
    background-color: #000019;
    z-index: 1000;
  }
  .menu ul {
    justify-content: center;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /* .hamburger {
    margin-top: 0rem;
  } */
  /* for section 2 */
  #section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .box1 {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
  #elements {
    color: green;
    font-weight: 900;
    font-size: 1.3rem;
  }
  video {
    margin-top: 1rem;
    height: 10rem;
    border-radius: 100%;
  }
  /* styling section 3 */
  .skill-section h2 {
    text-align: center;
  }
  #skill ul li {
    color: white;
    margin: 0.1rem 0rem 0.1rem 2rem;
  }
  #skill ul {
    margin-top: 1rem;
  }
}
@media (max-width: 1000px) {
  #navbar .nav {
    display: flex;
    justify-content: flex-start;
  }
  .portfolio-name {
    padding-left: 6rem;
  }
}
@media (max-width: 480px) {
  .portfolio-name {
    padding: 0 0 0 0rem;
    text-align: center;
  }
}

/* logo  */
.rotate {
  width: 45px;
  margin-left: 10px;
  height: 45px;
  border: 2px solid green;
  border-radius: 100px;
  position: relative;
  display: flex;
  border-top: 5px solid red;
  justify-content: center;
  align-items: center;
  animation: spin 0.6s linear infinite;
  /* animation: img 0.6s linear infinite; */
  filter: drop-shadow(10px 5px 40px #002aff);
  background-color: #d8d3d3;
  color: black;

  border-radius: 100px;
}
img:hover {
  animation: img 1s linear infinite;
  height: 40px;
  width: 40px;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeout {
  from {
    opacity: 0;
    transform: translateZ(0px);
  }

  to {
    opacity: 1;
    transform: translateZ(20px);
  }
}
#section {
  animation: fadeIn 1s ease-out;
}
